<div>
  <form [formGroup]="listTask" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title" />
    </div>
    <div>
      <label for="task">Task</label>
      <textarea
        name=""
        id="task"
        cols="10"
        rows="10"
        formControlName="task"
      ></textarea>
    </div>
    <div>
      <label for="priority">priority</label>
      <select #inputPriority name="" id="priority" formControlName="priority">
        <option value="" disabled selected>selecciona</option>
        <option value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="alta">Alta</option>
      </select>
    </div>
    <div>
      <button type="submit">enviar</button>
    </div>
  </form>
</div>
